.form-table {
    border-collapse: collapse;
    width: 100%;
}

.form-table th,
.form-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.form-table th {
    background-color: #f2f2f2;
}

.form-table input,
.form-table select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-table button {
    padding: 8px 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.form-table button:hover {
    background-color: #45a049;
}

.form-table {
    width: 100%;
    border-collapse: collapse;
}

.form-row {
    margin-bottom: 10px;
}

.form-row label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

.form-row input,
.form-row select {
    width: 200px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-row button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-row button:hover {
    background-color: #45a049;
}
.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th,
.data-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.data-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
}

.data-table tr:hover {
    background-color: #f5f5f5;
}

.edit-button {
    background-color: green;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.back-button {
    background-color: #f1f1f1;
    color: #333;
    border: 1px solid #ccc;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.stred {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.back-button:hover {
    background-color: #ddd;
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.blue {
    background-color: #3498db;
    color: #fff;
}

.green {
    background-color: #2ecc71;
    color: #fff;
}

.black {
    background-color: #333333;
    color: #fff;
}

.red {
    background-color: #e74c3c;
    color: #fff;
}

.custom-button:hover {
    opacity: 0.8;
}

.custom-button-black {
    background-color: black;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

}

.container-menu {
    display: flex;
    justify-content: space-evenly;

}