.form-table {
    border-collapse: collapse;
    width: 400px;
}

.form-table th,
.form-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    width: 200px;
}

.form-table th {
    background-color: #f2f2f2;
}

.form-table input,
.form-table select {
    width: 95%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-table button {
    padding: 8px 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.form-table button:hover {
    background-color: #45a049;
}

.form-table {
    width: 400px;
    border-collapse: collapse;
}

.form-row {
    margin-bottom: 10px;
}

.form-row label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

.form-row input,
.form-row select {
    width: 200px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-row button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-row button:hover {
    background-color: #45a049;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th,
.data-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    width: 300px;
}

.data-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
}

.data-table tr:hover {
    background-color: #f5f5f5;
}

.edit-button {
    background-color: green;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.back-button {
    background-color: #f1f1f1;
    color: #333;
    border: 1px solid #ccc;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.stred {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.back-button:hover {
    background-color: #ddd;
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.blue {
    background-color: #3498db;
    color: #fff;
}

.green {
    background-color: #2ecc71;
    color: #fff;
}

.black {
    background-color: #333333;
    color: #fff;
}

.red {
    background-color: #e74c3c;
    color: #fff;
}

.yellow {
    background-color: yellow;
    color: #fff;
}


.custom-button:hover {
    opacity: 0.8;
}

.custom-button-black {
    background-color: black;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

}

.container-menu {
    display: flex;
    justify-content: space-evenly;

}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.custom-button.purple {
    background-color: purple;
    color: white;
}

.custom-button.green {
    background-color: green;
    color: white;
}

.custom-button.yellow {
    background-color: yellow;
    color: black;
}

.custom-button.black {
    background-color: black;
    color: white;
}

.custom-button.red {
    background-color: red;
    color: white;
}

.custom-button.lounge-bar {
    background-color: #ffcc00;
    color: white;
}

.custom-button.vip-zone {
    background-color: #9900cc;
    color: white;
}

.custom-button.club-1 {
    background-color: #00ccff;
    color: white;
}

.custom-button.club-2 {
    background-color: #ff66cc;
    color: white;
}

.custom-button.club-3 {
    background-color: #ff9900;
    color: white;
}

.custom-button.club-4 {
    background-color: #33cc33;
    color: white;
}

.search-form {
    display: flex;
    justify-content: center;
}

.search-container {
    position: relative;
}

#search {
    padding: 10px;
    width: 400px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.search-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
}

.search-button i {
    color: #999;
    font-size: 18px;
}

#search:focus {
    outline: none;
    box-shadow: 0 0 5px #999;
}

.login-heading {
    text-align: center;
    margin-bottom: 20px;
}

.login-form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.form-row {
    margin-bottom: 15px;
}

.form-row label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-row input[type="text"],
.form-row input[type="password"] {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.password-input-wrapper {
    position: relative;
}

.password-eye-icon {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    cursor: pointer;
}

.register-link {
    text-align: center;
    margin-top: 20px;
}

.register-link a {
    color: orangered;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.custom-button {
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    background-color: red;
    cursor: pointer;
}

.register-heading {
    text-align: center;
    margin-bottom: 20px;
}

.register-form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.form-row {
    margin-bottom: 15px;
}

.form-row label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-row input[type="text"],
.form-row input[type="password"],
.form-row input[type="email"] {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.password-input-wrapper {
    position: relative;
}

.password-eye-icon {
    position: absolute;
    right: 8px;
    transform: translateY(-50%);
    cursor: pointer;
}

.error-message {
    color: red;
}

.custom-button {
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.custom-button.green {
    background-color: green;
}

.custom-button.green:hover {
    background-color: darkgreen;
}

.form-table {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.form-row {
    margin-bottom: 15px;
}

.form-row label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-row input[type="number"],
.form-row input[type="text"],
.form-row select {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-row button[type="submit"] {
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
    background-color: #4CAF50;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.form-row button[type="submit"]:hover {
    background-color: #45a049;
}

h1 {
    text-align: center;
}

.zaznamy-form {
    margin-bottom: 20px;
}

.strankovanie {
    text-align: center;
    margin-top: 20px;
}

.strankovanie ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.strankovanie li {
    display: inline;
    margin-right: 5px;
}

.strankovanie li a {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #f2f2f2;
    color: #333;
}

.strankovanie li.active a {
    background-color: #007bff;
    color: #fff;
}

.zaznamy-form {
    margin-bottom: 20px;
}

.zaznamy-form label {
    display: inline-block;
    margin-right: 10px;
}

.zaznamy-form select {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.zaznamy-form select:focus {
    outline: none;
    border-color: #007bff;
}

.zaznam-text {
    color: red;

}